* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.carts li a i{ 
  font-size: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a i{
  color: red;
}
/* Search Bar */
.search-box{
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}
.search-box input{
  border-radius: 20px;
  border: none;
  outline: none;
  background:#fff;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  border: 2px solid black;
}
#searchbar::placeholder{
color:#ff5361;
}
.search-box span{
  color: black;
  font-size: 20px;
  background: #fff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.search-box span:hover{
  color: white;
}
.search-box span::after{
  height: 100%;
  width: 0%;
  content: '';
  background: black ;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s; 
}
.search-box span:hover::after{
  border-radius: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: orange;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 20px;
  transition: background 1s;
}
.btn:hover {
  background-color: black;
}
.header {
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
  margin-top: 70px;
}
.categories {
  margin: 70px 0;
}
.col-3 {
  position: relative;
  width: 400px;
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  display: block;
  width: 100%;
}
/* Hover Effect On Coming Soon */
/* Hover Effect On Coming Soon' */
.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image_overlay--blur {
  border-radius: 30px;
  backdrop-filter: blur(5px);
}
.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}
.image_title {
  font-size: 2em;
  font-weight: bold;
}
.image_description {
  font-size: 10px;
  margin-top: 0.25em;
}

/* Image Hover text CS */

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  height: 100%;
  border: 1px solid #F4C430;
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: red;
}
.title::after {
  content: "";
  background: black;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: orange;
}
.col-4:hover {
  transform: translateY(-5px);
}
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}
.testimonal {
  padding-top: 100px;
}
.testimonal .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonal .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonal .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-certificate {
  font-size: 34px;
  color: grey;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonal .col-3 h3 {
  font-weight: 600;
  color: #555;
}
.social {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style: none;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.Copyright {
  text-align: center;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
/* About Us page */
#home {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.home-left {
  height: 300px;
  position: relative;
}

.home-left img {
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(3px 4px 5px black);
  transition: all 0.2s linear;
}
.home-left img:hover {
  transform: translateY(-5px);
  filter: drop-shadow(5px 6px 7px black);
}

.home-right {
  width: 50%;
}

.home-heading {
  font-size: 2rem;
  margin-bottom: 10px;
}

.home-para {
  margin-bottom: 20px;
}
#workFlow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4rem;
}

.heading {
  margin: 1rem auto;
  text-align: center;
}

.para {
  margin: 1rem auto;
}

.num-container {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.num-item {
  font-size: 1.5rem;
  line-height: 1.4rem;
  color: rgb(43, 126, 199);
}
#goal {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.goal-left {
  width: 60%;
  line-height: 2rem;
}

.goal-left h2 {
  font-size: 2.4rem;
}

.goal-left p {
  line-height: 1.5rem;
  margin: 1rem 0;
}

.goal-left ul {
  list-style: none;
  margin-bottom: 1rem;
}

.goal-left ul li::before {
  line-height: 1.5rem;
  content: '✓';
  color: red;
}

.goal-right {
  position: relative;
  width: 35%;
}
.goal-right img {
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  filter: drop-shadow(3px 4px 5px black);
  transition: all 0.2s linear;
}

.goal-right img:hover {
  transform: translateY(-5px);
  filter: drop-shadow(5px 6px 7px black);
}
#our-Team {
  width: 80%;
  margin: 4rem auto 1rem;
}

#our-Team h2 {
  text-align: center;
  margin: 1rem auto 4rem;
  position: relative;
}

#our-Team h2::after {
  content: '';
  height: 4px;
  margin: 0 auto;
  text-align: center;
  width: 15%;
  background-color: black;
  position: absolute;
  left: 50%;
  bottom: -10px;
  border-radius: 5px;
  transform: translate(-50%);
}

.teamContainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.team-item h5 {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.team-item span {
  margin-top: .4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #F4C430;
}

.team-item img {
  width: 80px;
}
#ow{
  border: 2px solid black;
}
#ow:hover{
  border: 2px solid red;
}
/* End of About Us Page */

/* Media Query For Menu */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* Products Page */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus {
  outline: none;
}
.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  border-radius: 20px;
  margin-left: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #ff523b;
  color: white;
}

.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus {
  outline: none;
}
.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: black;
  background: transparent;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid black;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: #ff523b;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 2px solid black;
  width: 100%;
  max-width: 3800px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
/* Account Page */

.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container {
  background: white;
  width: 300px;
  height: 500px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn {
  display: inline-block;
}
.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus {
  outline: none;
}
.input-group label{
  position: absolute;
  font-size: 10px;
  color: red;
  right: 22px;
  margin: -32px 30px;
}
.input-group label i{
  color: seagreen;
}
#submit-error{
  margin:56px 125px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
} 
#dont {
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form a {
  font-size: 12px;
}
form a:hover {
  color: red;
}
#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/* Contact Form for contact.html */
.contact-container {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#fff, #ffd6d6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form {
  border: 2px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
.contact-form input{
  border-radius: 10px;
  border: 2px solid black;
}
.contact-form textarea{
  border-radius: 10px;
  border: 2px solid black;
}
.contact-form h4 {
  text-align: center;
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}
.contact-class {
  border: 0;  
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
#contact-button{
  padding:15px;
  background:#ff5361;
  color:#fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
 }
 #contact-button:hover{
  background: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 ::placeholder{
  color:#333;
 }

/* Media Responsive for main project */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 22px;
  }
  .cart-info p {
    display: none;
  }
  /* ABout us */
  #home {
    flex-direction: column;
}

.home-left {
    width: 100%;
    height: auto;
}

.home-left img {
    width: 100%;
    margin: 105px 0;
}

.home-right {
    margin-top: 2rem;
    width: 100%;
}

.para {
    width: 90%;
}

.num-container {
    flex-direction: column;
}

.num-item {
    margin: 1rem;
}

.teamContainer {
    justify-content: center;
}
.cart-page th{
  font-size: 15px;
}
}
